.main-container-signup {
  margin-left: calc(50vw - 500px + 240px);
  margin-top: calc(200px);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .title-signup {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
  }

  .sub-container-signup1,
  .sub-container-signup2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }

  .sub-container-signup1 {
    border-top: solid black;
    border-left: solid black;
  }

  .sub-container-signup2 {
    border-right: solid black;
    border-bottom: solid black;
  }

  .button-signup {
    margin-top: 25px;
    font-size: medium;
  }
}
